@model System.Int32
@{
    string frmID = $"frmAddToCart{Model}";
    string frmSumit = $"javascript:{frmID}.submit()";
}
@using (Html.BeginForm("AddToCart", "CartAjax", new { HangHoaID = Model }, FormMethod.Post, htmlAttributes: new { id = frmID })) { }
<!-- Button -->
<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
    <a href="@frmSumit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Add to Cart</a>
</button>