@model List<HangHoa>
<!--  -->
<h4 class="m-text14 p-b-7">
    Categories
</h4>
@foreach (ChungLoai chungLoaiItems in ViewBag.ChungLoais)
{
    <div class="wrap-dropdown-content bo6 p-t-15 p-b-14">
        <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            @chungLoaiItems.Ten
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>

        <div class="dropdown-content dis-none p-t-15 p-b-23">
            <ul>
                @foreach (Loai loaiItem in chungLoaiItems.Loais)
                {
                    <li>
                        @Ajax.ActionLink(loaiItem.Ten, "TraCuuTheoLoaiAjax", "HangHoa", new { id = loaiItem.ID }, new AjaxOptions
                                  {
                                      UpdateTargetId = "spContainer",
                                      InsertionMode = InsertionMode.Replace,
                                      HttpMethod = "GET"
                                  })
                    </li>
                }
            </ul>
        </div>
    </div>
}
